*{
    margin: 0;
    padding: 0;
    font-family: 'montsrrat',sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #091921;
}
.display{
    position: relative;
    display: grid;
}
.display .value{
    grid-column: span 4;
    height: 80px;
    width: 240px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    color: #00fff7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    /* background-image: url(gura.jpg);
    background-size: 250px 110px; */
   
    background-color: #03b1ff;
}
.display span{
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0,0,0,.1);
}
.display span:active{
    background: #0067ab;
    color: #111;
}
.display span.clear{
    background: #ff9e9e;
}
.display span.equal{
    background: #76cfff;
    grid-row: span 2;
    height: 120px;
}